{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>Herkese Merhaba .Lise ve Üniversite eğitimimi çok yüksek derece ile bitirdim.Üniversite diploma notum 3.47/4 olarak en üst derecelerde mühendislik fakültesini bitirdim.Ayrıca Uzaktan Algılama ve Görüntü İşleme konularında yaptığım lisans tezinde kendime ait algoritmalar oluşturdum ve yüksek başarı ile projeyi tamamladım.
Dialüx(Aydınlatma Programı)/Autocad üzerinden  çalışmalarda bulundum.Aktif olarak python programlama dilinde projeler yapmaktayım.</p>

{% endblock body %}
